<div class="h-[100%] w-[100%] bg-gradient-to-r from-[#18305c] to-[#091970] flex justify-center items-center">

    <span class="flex flex-col gap-2 justify-center items-center w-[40%] h-[60%] bg-gradient-to-r from-blue-950 to-[#0c1f8a] shadow-lg shadow-slate-800">
        <img src="../../assets/404-error.png" alt="404" class="w-[45%]">

        <p class="lg:text-5xl md:text-4xl sm:texl-3xl texl-2xl font-black text-red-500">404</p>
        <p class=" md:text-3xl sm:texl-2xl texl-xl font-bold font-mono text-center text-yellow-500 underline underline-offset-8 decoration-red-500">WE ARE SORRY, PAGE NOT FOUND</p>
    </span>
</div>