<div class="flex justify-center items-center bg-slate-700 h-[100%]">
    <!-- make a card for login -->
    <span class="w-[70%] h-[65%] grid grid-cols-5 shadow-2xl shadow-black z-10">
        <div class="bg-yellow-500 h-[100%] col-span-2 flex justify-center items-center">
            <span>
                <h1>Login</h1>
            </span>
        </div>
        <div class="bg-slate-100 h-[100%] col-span-3 flex justify-center items-center" >
            <form class="p-4 flex flex-col gap-4 w-[100%]">

                <mat-form-field class="w-[100%]">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" placeholder="Ex: Bret_99">
                </mat-form-field>

                <mat-form-field class="w-[100%]">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="***">
                </mat-form-field>

                <div class="flex justify-between items-center px-8">
                    <span class="w-[100px]">
                        <button mat-raised-button color="primary" type="submit" class="w-[100%]">Login</button>
                    </span>

                    <span class="mt-2">
                        <p class="text-blue-500 underline decoration-blue-500">Dont have an account?</p>
                    </span>
                </div>


            </form>
        </div>
    </span>

</div>