<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- All tasks -->
      @if (alltodos){
        <a mat-list-item style="background-color: #cbd5e1;" >ALl Todos</a>
      }@else {
        <a mat-list-item (click)="loadAllTodos()">ALl Todos</a>
      }
      <!-- favourite tasks -->
      @if (favtodos){
        <a mat-list-item style="background-color: #cbd5e1;" >Favourite Todos</a>
      }@else {
        <a mat-list-item (click)="loadFavTodos()">Favourite Todos</a>
      }
      <!-- completed tasks -->
      @if (completedtodos){
        <a mat-list-item style="background-color: #cbd5e1;" >Completed Todos</a>
      }@else {
        <a mat-list-item (click)="loadCompletedTodos()">Completed Todos</a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>todo-app</span>
    </mat-toolbar>
    <!-- write content here -->
    @if (alltodos){
      <app-all-todos></app-all-todos>
    }@else if (favtodos){
      <app-fav-todos></app-fav-todos>
    }@else if (completedtodos){
      <app-completed-todos></app-completed-todos>
    }
  </mat-sidenav-content>
</mat-sidenav-container>
